<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Task1</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <header>
        <div class="row justify-content-md-center align-items-center">
            <h1 class="col-3">Winx Fairies</h1>
            <img class="col-2" src="/Content/img/win.png" />
        </div>
    </header>

    <div class="row justify-content-center">
        <div class="row col-10">
            <div class="col-2">
                <ul class="list-group">
                    <li class="list-group-item"><a>@Html.ActionLink("Главная", "Index", "ResponsibleForIndex")</a></li>
                    <li class="list-group-item"><a>@Html.ActionLink("Гостевая", "Guest", "ResponsibleForGuest")</a></li>
                    <li class="list-group-item"><a>@Html.ActionLink("Анкета", "ProfileGuest", "ResponsibleForProfileGuest")</a></li>
                </ul>
            </div>
            <div class="col-10 render-body">
                @RenderBody()
            </div>
        </div>
    </div>

    <footer>
        <p class="text-center">&copy; @DateTime.Now.Year Helen_Vov <a class="justify-content-center" href="#">Вверх</a> </p>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
